
@{
    ViewBag.Title = "Live Feed";
}

<h2></h2>

<div class="row" ng-app="app" ng-controller="liveFeedController">
<div class="col-md-8">
    <h2>Status</h2>
    <h4>Last Update: {{Timestamp | date:'medium' }}</h4>
    <svg xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:cc="http://creativecommons.org/ns#"
         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:svg="http://www.w3.org/2000/svg"
         xmlns="http://www.w3.org/2000/svg"
         id="svg8"
         version="1.1"
         viewBox="0 0 210 297"
         height="297mm"
         width="210mm">
        <defs id="defs2" />
        <metadata id="metadata5">
            <rdf:RDF>
                <cc:Work rdf:about="">
                    <dc:format>image/svg+xml</dc:format>
                    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                    <dc:title></dc:title>
                </cc:Work>
            </rdf:RDF>
        </metadata>
        <g id="layer3">
            <rect transform="matrix(0.68535388,0.72821018,-0.69867805,0.71543621,0,0)"
                  y="-12.919493"
                  x="90.2686"
                  height="11.443601"
                  width="4.0766125"
                  id="rect4633"
                  style="fill:#e26b31;fill-opacity:1;stroke:#e26b31;stroke-width:2.43205309;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <rect transform="matrix(0.62237599,0.78271842,-0.7454594,0.66655103,0,0)"
                  y="-7.4094996"
                  x="90.660042"
                  height="9.987689"
                  width="3.5589924"
                  id="rect4633-3"
                  style="fill:#d27250;fill-opacity:1;stroke:#d27250;stroke-width:2.12294149;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <rect transform="matrix(0.64078707,0.76771865,-0.72942115,0.6840649,0,0)"
                  y="6.5473814"
                  x="90.150414"
                  height="9.987689"
                  width="3.5589924"
                  id="rect4633-6"
                  style="fill:#b98b6a;fill-opacity:1;stroke:#b98b6a;stroke-width:2.12294149;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <rect transform="matrix(0.65905028,0.75209889,-0.72589935,0.68780094,0,0)"
                  y="20.809624"
                  x="89.848709"
                  height="10.889952"
                  width="3.873688"
                  id="rect4633-9"
                  style="fill:#9a9495;fill-opacity:1;stroke:#9a9495;stroke-width:2.31268954;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <rect transform="matrix(0.67879738,0.73432562,-0.74395551,0.66822915,0,0)"
                  y="36.697601"
                  x="90.497482"
                  height="13.607144"
                  width="4.8163118"
                  id="rect4633-9-4"
                  style="fill:#5397ba;fill-opacity:1;stroke:#5397ba;stroke-width:2.88258958;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <rect transform="matrix(0.72667462,-0.6869818,0.69465371,0.7193443,0,0)"
                  y="88.787544"
                  x="-54.727394"
                  height="6.2467942"
                  width="68.010361"
                  id="rect116"
                  style="fill:none;stroke:#000000;stroke-width:2.40006756;stroke-miterlimit:4;stroke-dasharray:none" />
            <path id="path4593"
                  d="m 76.368332,59.849736 4.302742,3.899862 0.539922,69.270612 55.422484,0.0145"
                  style="fill:none;stroke:#e26b31;stroke-width:2.4000001;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <path id="path4612"
                  d="m 23.669572,104.53603 -1.659099,1.70746 -0.264582,13.06148"
                  style="fill:none;stroke:#5397ba;stroke-width:2.4000001;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <path id="path4614"
                  d="m 21.878181,130.31707 0.330809,20.43757 114.79345,0.17522"
                  style="fill:none;stroke:#5397ba;stroke-width:2.4;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none" />
            <ellipse ry="5.4050732"
                     rx="6.5425406"
                     cy="124.45502"
                     cx="22.399347"
                     id="path4616"
                     style="fill:none;stroke:#5397ba;stroke-width:3.48950768;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <path transform="rotate(-20.178306,23.283058,125.11297)"
                  d="m 24.207889,126.41493 -2.014741,-0.76174 -2.014741,-0.76173 1.667051,-1.36395 1.66705,-1.36395 0.34769,2.12568 z"
                  id="path4618"
                  style="fill:none;stroke:#000000;stroke-width:2.4000001;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <text id="text4679"
                  y="54.194569"
                  x="74.722816"
                  style="font-style:normal;font-weight:normal;font-size:5.64444447px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  xml:space="preserve"><tspan style="font-size:5.64444447px;stroke-width:0.26458332"
                                              y="54.194569"
                                              x="74.722816"
                                              id="tspan4677">{{PanelTemp}}</tspan></text>
            <rect rx="0"
                  y="104.46043"
                  x="139.13861"
                  height="11.755308"
                  width="29.326401"
                  id="rect4685"
                  style="fill:#e26b31;fill-opacity:1;stroke:none;stroke-width:4.23729849;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <rect rx="0"
                  y="115.84451"
                  x="139.13861"
                  height="11.755308"
                  width="29.326401"
                  id="rect4685-4"
                  style="fill:#d27250;fill-opacity:1;stroke:none;stroke-width:4.23729849;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <rect rx="0"
                  y="127.05756"
                  x="139.13861"
                  height="11.755308"
                  width="29.326401"
                  id="rect4685-4-9"
                  style="fill:#b98b6a;fill-opacity:1;stroke:none;stroke-width:4.23729849;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <rect rx="0"
                  y="136.22926"
                  x="139.13861"
                  height="11.755308"
                  width="29.326401"
                  id="rect4685-4-9-9"
                  style="fill:#9a9495;fill-opacity:1;stroke:none;stroke-width:4.23729849;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <rect rx="0"
                  y="144.63844"
                  x="139.13861"
                  height="11.755308"
                  width="29.326401"
                  id="rect4685-4-9-9-9"
                  style="fill:#5397ba;fill-opacity:1;stroke:none;stroke-width:4.23729849;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <rect rx="3.4310107"
                  ry="3.4310107"
                  y="103.11224"
                  x="137.73567"
                  height="54.048512"
                  width="32.641479"
                  id="rect4683"
                  style="fill:none;fill-opacity:1;stroke:#000000;stroke-width:4.39386368;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <text id="text4679-4"
                  y="102.36768"
                  x="174.18265"
                  style="font-style:normal;font-weight:normal;font-size:5.64444447px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332;opacity:0.99;"
                  xml:space="preserve"><tspan style="font-size:5.64444447px;stroke-width:0.26458332;"
                                              y="102.36768"
                                              x="174.18265"
                                              id="tspan4677-9">{{TankTemp1}}</tspan></text>
            <text id="TankTemp2"
                  y="156.60406"
                  x="174.25003"
                  style="font-style:normal;font-weight:normal;font-size:5.64444447px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;opacity:0.98999999;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
                  xml:space="preserve"><tspan style="font-size:5.64444447px;stroke-width:0.26458332"
                                              y="156.60406"
                                              x="174.25003"
                                              id="tspan4677-9-1">{{TankTemp2}}</tspan></text>
        </g>
    </svg>


</div>
<div class="col-md-4">
    <h4>Live Feed</h4>
    <div >
        <div>{{connectionState}}</div>

        <l3>Messages</l3>
        <ul ng-repeat="message in messages">
            <li>{{message}}</li>
        </ul>
    </div>
</div>
</div>



@section scripts
{
<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
@*<script src="~/SignalR/Hubs"></script>*@

<script>
    angular.module('app', ['SignalR'])
    .controller('liveFeedController', ['$scope', 'Hub', function ($scope, Hub) {
        
        $scope.messages = [];
        $scope.connectionState = "Disconnected";
        $scope.PanelTemp = "- deg";
        $scope.TankTemp1 = "- deg";
        $scope.TankTemp2 = "- deg";
        $scope.Timestamp = null;

        //declaring the hub connection 
        var hub = new Hub('DeviceFeedHub', {

            //client side methods 
            listeners: {
                'hello': function (message) {
                    $scope.messages.unshift('Hello received with: ' + message );
                    $scope.$apply();
                },
                'sendFeedData': function (feedData) {
                    
                    $scope.PanelTemp = feedData.PanelTemp + ' deg';
                    $scope.TankTemp1 = feedData.TankUpperTemp + ' deg';
                    $scope.TankTemp2 = feedData.TankLowerTemp + ' deg';
                    $scope.Timestamp = feedData.Timestamp;
                    $scope.$apply();
                }
            },

            //server side methods 
            methods: ['lock', 'unlock'],

            //query params sent on initial connection 
            queryParams: {
                'token': 'exampletoken'
            },

            //handle connection error 
            errorHandler: function (error) {
                console.error(error);
            },

            //specify a non default root 
            rootPath: '../signalR',

            stateChanged: function (state) {
                switch (state.newState) {
                    case $.signalR.connectionState.connecting:
                        $scope.connectionState = "Connecting";
                        break;
                    case $.signalR.connectionState.connected:
                        $scope.connectionState = "Connected";
                        break;
                    case $.signalR.connectionState.reconnecting:
                        $scope.connectionState = "Reconnecting";
                        break;
                    case $.signalR.connectionState.disconnected:
                        $scope.connectionState = "Disconnected";
                        break;
                }
                $scope.$apply();
            }
        });



    }])

</script>
    }